body {
  background-color: CornflowerBlue;
}

/* tr:nth-child(even) {background-color: RoyalBlue;} */

tr:hover {
  background-color: RoyalBlue;
}


th, td {
  text-align: left;
  border-bottom: 1px solid black;
}


#Table {
  padding: 50px;
  width: 50%;
}

#containerAll {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#add {
  padding: 15px;
}

#addContainer {
  padding-top: 50px;
}

input[type="text"]:focus {
  border: 2px solid blue;
}
